.claro .dijitBorderContainer {
	padding: 0;
}

.claro .dijitContentPane {
	padding: 0;
}

.claro .dijitMenuBar {
	border: 0;
	background: #983FD5;
	background-image: none;
	background-repeat: none;
	padding-top: 9px;
	margin-left: 735px;
}