<div class="${baseClass}">
	<br>
	<div>Where would you like to begin your search?</div>
	<br>
	<br>
	<div class="${baseClass}-radioButtonContainer">
	<label>For Sale</label><span data-dojo-attach-point="radioSale" id="radioSale"></span>
	<label>For Rent</label><span data-dojo-attach-point="radioRent" id="radioRent"></span>
	<label>Recently Sold</label><span data-dojo-attach-point="radioRecentlySold" id="radioRecentlySold"></span>
	</div>
	<div data-dojo-attach-point="locationSelect" id="locationSelect"></div>
	<br>
	<br>
	<div class="${baseClass}-buttonContainer">
		<span data-dojo-attach-point="clearButton"></span>
		<span data-dojo-attach-point="searchButton"></span>
	</div>
</div>